html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 66px;
  margin-left: 16%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

 .sidebar-item:hover {
  background-color: yellow;
 }
